doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title FRIB Cable :: about
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href=basePath + '/datatables/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href=basePath + '/font-awesome-4.2.0/css/font-awesome.css')
    link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/', target='_blank') FRIB
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href=basePath + '/') Cable
              li
                a(href='https://controls.frib.msu.edu/', target='_blank') Controls
              li
                a(href=basePath + '/logout') Logout
    header.jumbotron.subhead
      .container
        h1 FRIB Cable
        h2 A Web application to manage cables and cable users

    .container
      .row
        .span3.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav.affix(data-offset-top='282', data-spy='affix', style='top: 40px;')
            li
              a(href='#user') User management
            li
              a(href='#bar') Bar chart
            li
              a(href='#change') Change cable specification
            li
              a(href='#bug') Bugs and suggestions
        .span9
          section#user
            .page-header
              h2 User management
            p An application admin user can change a user's role and add WBS numbers to a manager's account.
            embed(src=basePath + '/images/user.swf', width=1024, height=788, quality='low', play=false, loop=false, wmode='transparent', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')
          section#bar
            .page-header
              h2 Bar chart
            p A user can plot a bar chart for the data loaded in any table. A user can plot the data from different tables by switching the active tab. By default, all the data entries in a table are counted and plotted. A user can also filter and select the data entries to be plotted. The chart can be saved as images by right clicking on it. All items with an empty property will be counted in a group, and the group has no label on the chart.
            embed(src=basePath + '/images/bar.swf', width=1024, height=788, quality='low', play=false, loop=false, wmode='transparent', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')
          section#change
            .page-header
              h2 Change cable specification
            p A manager can change the specification of a cable in the table view. The interface switchs to an edit mode when clicking the Edit mode button. The editable cells in the table change to a light blue color. Double click on a cell to edit, and a dialog to appear. If the new value is the same as the old value, the change request will be ignored.
            embed(src=basePath + '/images/change.swf', width=1024, height=788, quality='low', play=false, loop=false, wmode='transparent', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')
          section#bug
          section#bug
            .page-header
              h2 Support
            h4 Contact: <a href='mailto:controlshelp@frib.msu.edu'>controlshelp@frib.msu.edu</a>

    script(type='text/javascript', src=basePath + '/jquery/jquery-1.9.1.js')
    script(type='text/javascript', src=basePath + '/bootstrap/js/bootstrap.js')

