extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable Numbering
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/base.js')

  style
    |  table.specification {
    |    padding-top: 20px;
    |    padding-bottom: 100px;
    |    border-spacing: 4px 1px;
    |    border-collapse: separate;
    |  }
    |  table.specification th {
    |    padding:5px 10px;
    |    font-size:80px;
    |  }
    |  table.specification tr {
    |    text-align: center;
    |  }
    |  table.specification td {
    |    padding:5px 20px;
    |    font-size: x-large;
    |  }
    |  a.target {
    |    display: block;
    |    position: relative;
    |    top: -60px;
    |    visibility: hidden;'
    |  }
    |  .category-background {
    |    background-color:#ff4848;
    |  }
    |  .subcategory-background {
    |    background-color:#febd47;
    |  }
    |  .signal-background {
    |    background-color:#68bd68;
    |  }
    |  .serial-background {
    |    background-color:#7ab8fe;
    |  }
    |  .category-border-left {
    |    border-left:2px solid #ff4848 !important;
    |  }
    |  .subcategory-border-left {
    |    border-left:2px solid #febd47 !important;
    |  }
    |  .signal-border-left {
    |    border-left:2px solid #68bd68 !important;
    |  }

block content
  .container
    #message
    div(style='text-align:center;')
      h2 Cable Number Specification
    .row.justify-content-center
      .col-10
        table.specification
          thead
            tr
              th.category-background    0
              th.subcategory-background 0
              th.signal-background      A
              th.serial-background      000000
          tbody
            tr
              td.category-background    &nbsp;Category&nbsp;&nbsp;
              td.subcategory-background Subcategory
              td.signal-background      Signal Classification
              td.serial-background      Serial Number

    .container
      .row.justify-content-center
        .col-10
          table.table.table-bordered
            thead
              tr
                td Jump to Category
              tr
                td
                  for cat, catkey in sysSub
                    a(href='#category' + catkey) #{catkey}
                    span &nbsp;&nbsp;

          table.table.table-bordered.table-striped
            thead
              tr
                th Projects
                th.category-border-left    Category
                th.subcategory-border-left Subcategory
                th.signal-border-left      Signal Classification
            tbody
              for cat, catkey in sysSub
                tr
                  td
                    for project in cat.projects
                      div(style='font-weight:bold;')= project
                  td.category-border-left
                    a.target(id='category' + catkey)
                    strong #{catkey}:&nbsp;
                    span= cat.name
                  td.subcategory-border-left
                    for name, key in cat.subcategory
                      div
                        span(style='font-weight:bold;') #{key}:&nbsp;
                        span= name
                  td.signal-border-left
                    for sig, key in cat.signal
                      div
                        span(style='font-weight:bold;') #{key}:&nbsp;
                        span= sig.name
