extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable :: user profile
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  //- link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap.css')
  //- link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap-responsive.css')
  //- link(rel='stylesheet', href=basePath + '/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/profile.js')

block content
  .container(style='margin-top: 10px;')
    #message
    .card.bg-light#profile
      .card-body
        img(src=basePath + '/adusers/' + user.adid + '/photo', alt=user.adid)
        dl
          dt Name
          dd.ml-2 #{user.name}
          dt Email
          dd.ml-2 #{user.email}
          dt Office
          dd.ml-2 #{user.office}
          dt Office phone
          dd.ml-2 #{user.phone}
          dt Mobile phone
          dd.ml-2 #{user.mobile}
          dt Last visited on
          dd.ml-2 #{user.lastVisitedOn}
          dt Roles
          dd.ml-2 #{user.roles}
          dt Notice
          dd.ml-2
            form.form-inline
              label.form-check-label
                if (user.subscribe)
                  input.form-check-input#sub(type='checkbox', checked)
                else
                  input.form-check-input#sub(type='checkbox')
                | subscribe &nbsp
              button.btn.btn-secondary#modify(type='submit') Modify

block js
  //- script(type='text/javascript', src=basePath + '/jquery/jquery-1.9.1.js')
  //- script(type='text/javascript', src=basePath + '/bootstrap/js/bootstrap.js')
  //- script(type='text/javascript', src=basePath + '/dependencies/moment.js')
  //- script(type='text/javascript', src=basePath + '/javascripts/profile.js')
