//- fieldset
legend Basic information
.form-group
  label Project
  .controls
    select.form-control#project(type='text', name='basic.project', required)
      option(value='', disabled=true, selected) choose
      for project in projects
        option(value=project.value)= project.title
.form-group
  label(for="wbs") WBS
  .controls
    input.form-control#wbs(type='text', name='basic.wbs', required)
.form-group
  label(for="engineer")  Engineer
  .controls
    input.form-control#engineer(type='text', placeholder='Last, First', name='basic.engineer', required)
.form-group
  label(for="cat")  Origin category
  .controls.d-flex
    select.form-control#cat(disabled=true, name='basic.originCategory', required)
      option(value='', disabled=true, selected) choose
    span.add-on.p-2
    span.p-2 See 
      a(href=basePath + '/shared/frib_cable_map.pdf', target='_blank') Map
.form-group
  label(for="sub")  Origin subcategory
  .controls.d-flex
    select.form-control#sub(disabled=true, name='basic.originSubcategory', required)
      option(value='', disabled=true, selected) choose
    span.add-on.p-2
.form-group
  label(for="signal")  Signal classification
  .controls.d-flex
    select.form-control#signal(disabled=true, name='basic.signalClassification', required)
      option(value='', disabled=true, selected) choose
    span.add-on.p-2
.form-group
  label(for="tray-section")  Tray section
  .controls
    select.form-control#tray-section(name='basic.traySection')
      for traySect in traySects
        option(value=traySect.value)= traySect.title
.form-group
  label(for="type")  Type
  .controls
    input.form-control#type(type='text', name='basic.cableType')
.form-group
  label(for="function")  Function
  .controls
    input.form-control#function(type='text', name='basic.service')
.form-group
  label(for="tags")  Tags
  .controls
    input.form-control#tags(type='text', name='basic.tags', class=String('type[stringArray]'))
    span.help-inline Seperate tags by ","
.form-group
  label(for="quantity")  Quantity
  .controls
    input.form-control#quantity(type='text', name='basic.quantity', class=String('type[number]'), value=1, required, min=1)
.form-group
  label(for="ownerProvided")  Owner provided
  .controls
    select.form-control#ownerProvided(type='boolean', name='ownerProvided')
      option(value='false') No
      option(value='true') Yes
  //- fieldset
  legend Source(from)
.form-group
  label(for="from-rack")  Location
  .controls
    .d-flex.flex-row
      input.p-10.form-control#from-rack(type='text', name='from.rack')
      a.p-2.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.form-group
  label(for="from-termination")  Termination device
  .controls
    .d-flex.flex-row
      input.p-10.form-control#from-termination(type='text', name='from.terminationDevice')
      a.p-2.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.form-group
  label(for="from-type")  Termination type
  .controls
    input.form-control#from-type(type='text', name='from.terminationType')
.form-group
  label(for="from-drawing")  Wiring (pinout) drawing
  .controls
    input.form-control#from-drawing(type='text', name='from.wiringDrawing')
//- fieldset
legend Destination(to)
.form-group
  label(for="to-rack")  Location
  .controls.d-flex.flex-row
    input.p-10.form-control#to-rack(type='text', name='to.rack')
    a.p-2.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.form-group
  label(for="to-termination")  Termination device
  .controls.d-flex.flex-row
    input.p-10.form-control#to-termination(type='text', name='to.terminationDevice')
    a.p-2.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.form-group
  label(for="to-type")  Termination type
  .controls
    input.form-control#to-type(type='text', name='to.terminationType')
.form-group
  label(for="to-drawing")  Wiring (pinout) drawing
  .controls
    input.form-control#to-drawing(type='text', name='to.wiringDrawing')
legend Routing
.form-group
  label Conduit
  .controls
    input.form-control(type='text', name='conduit')
.form-group
  label Length
  .controls.d-flex
    input.form-control(type='number', name='length')
    span.add-on.p-2 ft

legend Other
.form-group
  label Comments
  .controls
    textarea.form-control#comments(rows=3, name='comments')

