extends layout.pug

block head
  meta(charset='utf-8')
  if (locals.id)
    title FRIB Cable :: request :: #{id}
  else
    title FRIB Cable :: new request
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript' src=basePath + '/dist/request.js')
block content
  .container
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal', aria-hidden='true') Return to edit
    form.form-horizontal(name='request')
      if (locals.id)
        h3 Cable Request &nbsp;
          span#requestId #{id}
      else
        h3 New Cable Request
      include requestform.pug
      include request_action.pug
block js
  //- script(type='text/javascript', src=basePath + '/jquery/jquery-1.9.1.js')
  //- script(type='text/javascript', src=basePath + '/bootstrap/js/bootstrap.js')
  //- script(type='text/javascript', src=basePath + '/jquery/jquery.validate.js')
  //- script(type='text/javascript', src=basePath + '/dependencies/binder.js')
  //- script(type='text/javascript', src=basePath + '/dependencies/typeahead.js')
  //- script(type='text/javascript', src=basePath + '/dependencies/moment.js')
  //- script(type='text/javascript', src=basePath + '/dependencies/lodash.js')
  //- script(type='text/javascript', src=basePath + '/javascripts/util.js')
  //- script(type='text/javascript', src=basePath + '/javascripts/ajaxhelper.js')
  //- script(type='text/javascript', src=basePath + '/javascripts/request.js')
