//- fieldset
legend Basic information
.control-group
  .control-label Project
  .controls
    select#project.input(type='text', name='basic.project', required)
      option(value='', disabled=true, selected) choose
      option(value='FRIB') FRIB
      option(value='REA') ReA
      option(value='SECAR') SECAR
      option(value='BECOLA') BECOLA
      option(value='SRFHB') SRF HB
      option(value='BUSINESS') Business
.control-group
  .control-label WBS
  .controls
    input#wbs(type='text', name='basic.wbs', required)
.control-group
  .control-label Engineer
  .controls
    input#engineer(type='text', placeholder='Last, First', name='basic.engineer', required)
.control-group
  .control-label Origin category
  .controls
    .input-append
      select#cat.input(disabled=true, name='basic.originCategory', required)
        option(value='', disabled=true, selected) choose
      span.add-on &nbsp;
.control-group
  .control-label Origin subcategory
  .controls
    .input-append
      select#sub.input(disabled=true, name='basic.originSubcategory', required)
        option(value='', disabled=true, selected) choose
      span.add-on &nbsp;
.control-group
  .control-label Signal classification
  .controls
    .input-append
      select#signal.input(disabled=true, name='basic.signalClassification', required)
        option(value='', disabled=true, selected) choose
      span.add-on &nbsp;
.control-group
  .control-label Tray section
  .controls
    select#tray-section.input(name='basic.traySection')
      option HPRF
      option DC
      option VLLS
      option LLS
      option HVDC
      option MLS
      option AC
      option MV-AC
      option REF
      option PPS
      option N/A
.control-group
  .control-label Type
  .controls
    input#type(type='text', name='basic.cableType')
.control-group
  .control-label Function
  .controls
    input#function(type='text', name='basic.service')
.control-group
  .control-label Tags
  .controls
    input#tags(type='text', name='basic.tags', class='type[stringArray]')
    span.help-inline Seperate tags by ","
.control-group
  .control-label Quantity
  .controls
    input#quantity(type='text', name='basic.quantity', class='type[number]', value=1, required, min=1)
.control-group
  .control-label Owner provided
  .controls
    select#ownerProvided.input(type='boolean', name='ownerProvided')
      option(value='false') No
      option(value='true') Yes
//- fieldset
legend Source(from)
.control-group
  .control-label Location
  .controls
    .input-append
      input#from-rack(type='text', name='from.rack')
      a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.control-group
  .control-label Termination device
  .controls
    .input-append
      input#from-termination(type='text', name='from.terminationDevice')
      a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.control-group
  .control-label Termination type
  .controls
    input#from-type(type='text', name='from.terminationType')
.control-group
  .control-label Wiring (pinout) drawing
  .controls
    input#from-drawing(type='text', name='from.wiringDrawing')
//- fieldset
legend Destination(to)
.control-group
  .control-label Location
  .controls
    .input-append
      input#to-rack(type='text', name='to.rack')
      a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.control-group
  .control-label Termination device
  .controls
    .input-append
      input#to-termination(type='text', name='to.terminationDevice')
      a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
.control-group
  .control-label Termination type
  .controls
    input#to-type(type='text', name='to.terminationType')
.control-group
  .control-label Wiring (pinout) drawing
  .controls
    input#to-drawing(type='text', name='to.wiringDrawing')
legend Routing
.control-group
  .control-label Conduit
  .controls
    input(type='text', name='conduit')
.control-group
  .control-label Length
  .controls
    .input-append
      input(type='number', name='length')
      span.add-on ft

//-   #rounting-element
//-     .control-group
//-       .control-label Tray group
//-       .controls
//-         input#tray(type='text', name='routing.trayGroup')
//-     .control-group
//-       .control-label Penetration #
//-       .controls
//-         .input-append
//-           input#penetration(type='text', name='routing.penetration')
//-           a.btn.btn-info(href='https://portal.frib.msu.edu/dcc/Drawings/T20302-MDE-0007-0001.pdf', target='_blank') Browse
//-     .control-group
//-       .control-label Penetration Z position
//-       .controls
//-         input#position(type='text', name='routing.penetrationZ')
//- fieldset
//- legend General information
//- .control-group
//-   .control-label Fabricated by
//-   .controls
//-     input#fab(type='text', name='other.fabricatedBy')
//- .control-group
//-   .control-label Installed by
//-   .controls
//-     input#ins(type='text')
//- .control-group
//-   .control-label Terminated by
//-   .controls
//-     input#term(type='text', name='other.terminatedBy')
//- fieldset
//- legend Required steps
//- p.text-info Steps like pull and field test are always required
//- .control-group
//-   .controls
//-     label.checkbox
//-       input(type='checkbox', name='required.label')
//-       | Label
//-     label.checkbox
//-       input(type='checkbox', name='required.benchTerm')
//-       | Bench termination
//-     label.checkbox
//-       input(type='checkbox', name='required.benchTest')
//-       | Bench test
//-     label.checkbox
//-       input(type='checkbox', name='required.fieldTerm')
//-       | Field termination

legend Other
.control-group
  .control-label Comments
  .controls
    textarea.input-xlarge#comments(rows=3, name='comments')

