//- fieldset

legend Basic information
.form-group.row
  label.col-form-label.col-sm-2.text-right Project
  .col-sm-8
    .input-group
      select.form-control#project(type='text', name='basic.project', required)
        option(value='', disabled=true, selected) choose
        for project in projects
          option(value=project.value)= project.title
.form-group.row
  label.col-form-label.col-sm-2.text-right WBS
  .col-sm-8
    .input-group
      input.form-control#wbs(type='text', name='basic.wbs', required)
.form-group.row
  label.col-form-label.col-sm-2.text-right Engineer
  .col-sm-8
    .input-group
      input.form-control#engineer(type='text', placeholder='Last, First', name='basic.engineer', required)
.form-group.row
  label.col-form-label.col-sm-2.text-right Origin category
  .col-sm-8
    .input-group
      select.form-control#cat(disabled=true, name='basic.originCategory', required)
        option(value='', disabled=true, selected) choose
      .input-group-append
        span.input-group-text &nbsp;
    span &nbsp;See&nbsp;
      a(href=basePath + '/shared/frib_cable_map.pdf', target='_blank') Map
.form-group.row
  label.col-form-label.col-sm-2.text-right Origin subcategory
  .col-sm-8
    .input-group
      select.form-control#sub(disabled=true, name='basic.originSubcategory', required)
        option(value='', disabled=true, selected) choose
      .input-group-append
        span.input-group-text &nbsp;
.form-group.row
  label.col-form-label.col-sm-2.text-right Signal classification
  .col-sm-8
    .input-group
      select.form-control#signal(disabled=true, name='basic.signalClassification', required)
        option(value='', disabled=true, selected) choose
      .input-group-append
        span.input-group-text &nbsp;
.form-group.row
  label.col-form-label.col-sm-2.text-right Tray section
  .col-sm-8
    .input-group
      select.form-control#tray-section(name='basic.traySection')
        for traySect in traySects
          option(value=traySect.value)= traySect.title
.form-group.row
  label.col-form-label.col-sm-2.text-right Type
  .col-sm-8
    .input-group
      input.tt-input#type(type='text', name='basic.cableType')
.form-group.row
  label.col-form-label.col-sm-2.text-right Function
  .col-sm-8
    .input-group
      input#function(type='text', name='basic.service')
.form-group.row
  label.col-form-label.col-sm-2.text-right Tags
  .col-sm-8
    .input-group
      input#tags(type='text', name='basic.tags', class=String('type[stringArray]'))
      span.help-inline &nbsp; Seperate tags by ","
.form-group.row
  label.col-form-label.col-sm-2.text-right Quantity
  .col-sm-8
    .input-group
      input.form-control#quantity(type='text', name='basic.quantity', class=String('type[number]'), value=1, required, min=1)
.form-group.row
  label.col-form-label.col-sm-2.text-right Owner provided
  .col-sm-8
    .input-group
      select.form-control#ownerProvided(type='boolean', name='ownerProvided')
        option(value='false') No
        option(value='true') Yes
//- fieldset
legend Source(from)
.form-group.row
  label.col-form-label.col-sm-2.text-right Location
  .col-sm-8
    .input-group
      input#from-rack(type='text', name='from.rack')
.form-group.row
  label.col-form-label.col-sm-2.text-right Termination device
  .col-sm-8
    .input-group
      input#from-termination(type='text', name='from.terminationDevice')
.form-group.row
  label.col-form-label.col-sm-2.text-right Termination type
  .col-sm-8
    .input-group
      input#from-type(type='text', name='from.terminationType')
.form-group.row
  label.col-form-label.col-sm-2.text-right Wiring (pinout) drawing
  .col-sm-8
    .input-group
      input#from-drawing(type='text', name='from.wiringDrawing')
//- fieldset
legend Destination(to)
.form-group.row
  label.col-form-label.col-sm-2.text-right Location
  .col-sm-8
    .input-group
      input#to-rack(type='text', name='to.rack')
.form-group.row
  label.col-form-label.col-sm-2.text-right Termination device
  .col-sm-8
    .input-group
      input#to-termination(type='text', name='to.terminationDevice')
.form-group.row
  label.col-form-label.col-sm-2.text-right Termination type
  .col-sm-8
    .input-group
      input#to-type(type='text', name='to.terminationType')
.form-group.row
  label.col-form-label.col-sm-2.text-right Wiring (pinout) drawing
  .col-sm-8
    .input-group
      input#to-drawing(type='text', name='to.wiringDrawing')
legend Routing
.form-group.row
  label.col-form-label.col-sm-2.text-right Conduit
  .col-sm-8
    .input-group
      input(type='text', name='conduit')
.form-group.row
  label.col-form-label.col-sm-2.text-right Length
  .col-sm-8
    .input-group
      input(type='number', name='length')
      .input-group-append
        span.input-group-text ft

//-   #rounting-element
//-     .form-group.row
//-       label.col-form-label.col-sm-2.text-right Tray group
//-       .col-sm-8
  .input-group
//-         input#tray(type='text', name='routing.trayGroup')
//-     .form-group.row
//-       label.col-form-label.col-sm-2.text-right Penetration #
//-       .col-sm-8
  .input-group
//-         .input-group-append
//-           input#penetration(type='text', name='routing.penetration')
//-           a.btn.btn-info(href='https://portal.frib.msu.edu/dcc/Drawings/T20302-MDE-0007-0001.pdf', target='_blank') Browse
//-     .form-group.row
//-       label.col-form-label.col-sm-2.text-right Penetration Z position
//-       .col-sm-8
  .input-group
//-         input#position(type='text', name='routing.penetrationZ')
//- fieldset
//- legend General information
//- .form-group.row
//-   label.col-form-label.col-sm-2.text-right Fabricated by
//-   .col-sm-8
  .input-group
//-     input#fab(type='text', name='other.fabricatedBy')
//- .form-group.row
//-   label.col-form-label.col-sm-2.text-right Installed by
//-   .col-sm-8
  .input-group
//-     input#ins(type='text')
//- .form-group.row
//-   label.col-form-label.col-sm-2.text-right Terminated by
//-   .col-sm-8
  .input-group
//-     input#term(type='text', name='other.terminatedBy')
//- fieldset
//- legend Required steps
//- p.text-info Steps like pull and field test are always required
//- .form-group.row
//-   .col-sm-8
  .input-group
//-     label.col-form-label.col-sm-2.text-right.checkbox
//-       input(type='checkbox', name='required.label.col-form-label.col-sm-2.text-right')
//-       | label.col-form-label.col-sm-2.text-right
//-     label.col-form-label.col-sm-2.text-right.checkbox
//-       input(type='checkbox', name='required.benchTerm')
//-       | Bench termination
//-     label.col-form-label.col-sm-2.text-right.checkbox
//-       input(type='checkbox', name='required.benchTest')
//-       | Bench test
//-     label.col-form-label.col-sm-2.text-right.checkbox
//-       input(type='checkbox', name='required.fieldTerm')
//-       | Field termination

legend Other
.form-group.row
  label.col-form-label.col-sm-2.text-right Comments
  .col-sm-8
    .input-group
      textarea.input-xlarge#comments(rows=3, name='comments')
