extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable :: user profile
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/user.js')

block content
  script.
    var roles = !{JSON.stringify(user.roles)};
    var wbs = [];
  if (user.wbs !== undefined)
    script.
      wbs = !{JSON.stringify(user.wbs)};
  .container(style='margin-top: 10px')
    #message
    .card.bg-light#profile
      .card-body
        img(src=basePath + '/adusers/' + user.adid + '/photo', alt=user.adid)
        dl
          dt Name
          dd.ml-2 #{user.name}
          dt Email
          dd.ml-2 #{user.email}
          dt Office
          dd.ml-2 #{user.office}
          dt Office phone
          dd.ml-2 #{user.phone}
          dt Mobile phone
          dd.ml-2 #{user.mobile}
          dt Last visited on
          dd.ml-2 #{user.lastVisitedOn}
          dt Notice subscribed
          dd.ml-2 #{user.subscribe}
          dt Priviledges
          dd.form.form-inline.ml-2#roles
            .form-group.mr-2
              input.form-check-input#manager(type='checkbox', value='manager')
              label.form-check-label(for='manager') manager
            .form-group.mr-2
              input.form-check-input#validator(type='checkbox', value='validator')
              label.form-check-label(for='manager') validator
            .form-group.mr-2
              input.form-check-input#admin(type='checkbox', value='admin')
              label.form-check-label(for='admin') admin
            if (myRoles.indexOf('admin') !== -1)
              button.btn.btn-primary#modify(type='submit', hidden) Modify
          dt WBS responsibility
          dd.ml-2
            ul#wbs
              if (user.wbs)
                each n in user.wbs
                  li.m-1
                    span.wbs #{n}
                    if (myRoles.indexOf('admin') !== -1)
                      = ' '
                      button.btn.btn-warning.remove-wbs
                        i.fa.fa-trash
            if (myRoles.indexOf('admin') !== -1)
              .btn-group
                button.btn.btn-small.btn-primary#add Add WBS
      .card-footer.text-center
        button.btn.btn-secondary#cacel(type='button', onclick='window.open("", "_self", "");window.close(); return false;') Close window
