extends layout.pug

block head
  meta(charset='utf-8')
  title #{project} Work Breakdown Structure
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/wbs.js')

block content
  script.
    var json = '!{json}';
  .container
    //- h3 #{project} Work Breakdown Structure
    #message
    .mt-5#viz
